<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Demo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="mb-4">
      <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand">人材管理システム - ユーザ一覧</a>
        <a href="/logout" class="navbar-brand">ログアウト</a>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">test</div>
            <div class="card-body">完了しました</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
