<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>登録済みメンバー一覧</title>
  </head>
  <body>
    <h1>メンバー一覧</h1>
    <div th:if="${infoMessage}" class="row">
      <div class="col-md-12 m-3">
        <div class="p-3 mb-2 bg-success text-white">
          <label th:text="${infoMessage}" />
        </div>
      </div>
    </div>
    <table>
      <tr>
        <th>名前</th>
        <th>年齢</th>
        <th>性別</th>
        <th>プラットフォーム</th>
        <th>URL</th>
      </tr>
      <tr th:each="member : ${members}">
        <td th:text="${member.name}">ユーザ名</td>
        <td th:text="${member.age}">年齢</td>
        <td th:text="${member.gender}">性別</td>
        <td th:text="${member.platform}">プラットフォーム</td>
        <td th:text="${member.url}">URL</td>
      </tr>
    </table>
    <a href="/member/regist">新規登録</a>
  </body>
</html>
