<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>会員登録フォーム</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>会員登録</h1>
      <form
        th:action="@{/member/complete}"
        th:object="${registMemberRequest}"
        method="post"
        enctype="multipart/form-data"
      >
        <div th:if="${infoMessage}" class="alert alert-success" role="alert">
          <label th:text="${infoMessage}"></label>
        </div>

        <div class="form-group">
          <label for="userName">ユーザ名:</label>
          <input
            type="text"
            id="userName"
            th:field="*{userName}"
            class="form-control"
          />
          <div
            th:if="${#fields.hasErrors('userName')}"
            th:errors="*{userName}"
            class="alert alert-danger"
          ></div>
        </div>
        <div class="form-group">
          <label for="age">年齢:</label>
          <input
            type="number"
            id="age"
            th:field="*{age}"
            class="form-control"
          />
          <div
            th:if="${#fields.hasErrors('age')}"
            th:errors="*{age}"
            class="alert alert-danger"
          ></div>
        </div>
        <div class="form-group">
          <label for="gender">性別:</label>
          <select id="gender" th:field="*{gender}" class="form-control">
            <option value="">選択してください</option>
            <option value="男性">男性</option>
            <option value="女性">女性</option>
            <option value="その他">その他</option>
          </select>
          <div
            th:if="${#fields.hasErrors('gender')}"
            th:errors="*{gender}"
            class="alert alert-danger"
          ></div>
        </div>
        <div class="form-group">
          <label for="platform">プラットフォーム（メイン活動場所）:</label>
          <input
            type="text"
            id="platform"
            th:field="*{platform}"
            class="form-control"
          />
          <div
            th:if="${#fields.hasErrors('platform')}"
            th:errors="*{platform}"
            class="alert alert-danger"
          ></div>
        </div>
        <div class="form-group">
          <label for="url">URL:</label>
          <input type="text" id="url" th:field="*{url}" class="form-control" />
          <div
            th:if="${#fields.hasErrors('url')}"
            th:errors="*{url}"
            class="alert alert-danger"
          ></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">登録</button>
          <a th:href="@{/member/list}" class="btn btn-secondary">戻る</a>
        </div>
      </form>
    </div>
  </body>
</html>
